<% provide(:title, "Top")%>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%#= render "shared/user_info" %>
      </section>
      <section class="post_form">
        <%= render "shared/post_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>タイムライン</h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>InstaClone</h1>
    <p>世界中の人と写真をシェアしよう</p>
    <%= link_to "アカウント作成", new_user_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-outline-primary" %>
  </div>
<% end %>