<% provide(:title, "ログイン")%>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>次回以降は自動でログインする</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <%= link_to "新規アカウント登録はこちら", new_user_path %>
  </div>
</div>