<%= @user.name %>さん

Instacloneをご利用いただき、誠にありがとうございます！

すべての機能を有効にするためには、メールアドレスを認証する必要があります。

以下のボタンをタップしてメールアドレスを認証してください。

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
