<h1>Instaclone</h1>

<h3><%= @user.name %>さん</h3>
<h3>ようこそ！Instacloneへ！</h3>

<p>Instacloneをご利用いただき、誠にありがとうございます！</p>

<p>すべての機能を有効にするためには、メールアドレスを認証する必要があります。</p>

<p>以下のボタンをタップしてメールアドレスを認証してください。</p>

<%= link_to "確認しました", edit_account_activation_url(@user.activation_token, email: @user.email) %>
