<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label "ユーザーID" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label "メールアドレス" %>
  <%= f.text_field :email, class: "form-control" %>

  <%= f.label "パスワード" %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label "パスワード再入力" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
