<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.gravatar_url %>
        <%= @user.name %>
        <%= @user.email %>
      </h1>
    </section>
    <div class="container">
      <% if @user.posts.any? %>
        <%= render @posts %>
      <% end %>
      <%= paginate @posts %>
    </div>
  </aside>
</div>