<%= form_for @post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "コメントを入力" %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
<% end %>

<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes  = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('投稿できるファイルサイズは5MBまでです');
    }
  });
</script>