<li id="post-<%= post.id %>">
  <%= link_to image_tag(post.user.gravatar_url(:size => 50)), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %>前に投稿
    <% if correct_user?(post.user) %>
      <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
</li>