<h1>Posts#new</h1>

<%= form_for @post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.label "コメントを書く" %>
  <%= f.text_field :content %>

  <%= f.submit "投稿する" %>
<% end %>