@import "bootstrap-sprockets";
@import "bootstrap";

// mixins, variables, etc.

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// universal

body {
  padding-top: 60px;
}