<footer class="footer navbar">
  <div class="container">
    Developed by Shuhei Yoshino
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Instaclone", root_path %></li>
      </ul>
    </nav>
  </div>
</footer>