<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instaclone", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <% if logged_in? %>
          <li><%= link_to "投稿する", new_post_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "登録内容の変更", edit_user_path(current_user) %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              <li><%= link_to "退会", current_user, method: :delete, data: { confirm: "本当に退会しますか？" } %></li>
            </ul>
          </li>
        <% else %>
          <%= link_to "ログイン", login_path %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
